<div id="<%= dom_id cold_email %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= cold_email.subject %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= cold_email.body %>
  </p>
</div>
